In [7]:
# Copyright (c) Meta Platforms, Inc. and affiliates.

# This source code is licensed under the BSD-style license found in the
# LICENSE file in the root directory of this source tree.

In [8]:
from src import LTVSyntheticData
from src import LTVexploratory

### Generate synthetic data

In [9]:
synth_data_gen = LTVSyntheticData(is_subscr=False)
ancor_table = synth_data_gen.get_ancor_table()
event_table = synth_data_gen.get_purchases()

# Call the exploratory class
da = LTVexploratory(ancor_table, event_table)

           table  number_uuid share_uuid
0     ancor only         8003     80.03%
1     event only            0      0.00%
2  ancor & event         1997     19.97%

We are going to delete 0.00% UUID from df table because of negative value between first purchase date and registration

### Run analysis

In [10]:
da.plot_n()

AttributeError: 'LTVexploratory' object has no attribute 'plot_n'

In [ ]:
da.plot_first_purchase()

In [ ]:
da.plot_second_purchase()

In [ ]:
da.plot_uuid()

In [ ]:
da.plot_linear_corr()

In [ ]:
# Not working! 
#da.plot_sankey()

In [ ]:
da.plot_class_change()

In [ ]:
da.plot_drop_off()

In [ ]:
# Needs better name! 
da.plot_()

In [ ]:
da.plot_freq()

In [ ]:
da.plot_apv()

In [ ]:
da.plot_corr_freq_apv()